<!DOCTYPE html>

{%extends 'admins/baseadmin.html'%}

{%load static%}


{% block body_block %}

<table class="table">

    <tr>
        <th>Course Name</th>
        <th>Fees</th>
        <th>Actions</th>
    </tr>
    {%for course in courses%}
    <tr>
        <td>{{course.course_name}}</td>
        <td>{{course.fees}}</td>
        <td><a href="{%url 'courseupdate' course.pk%}" class="btn btn-secondary">Update</a>
        <td><a href="{%url 'coursedelete' course.pk%}" class="btn btn-secondary">Delete</a>

    </tr>
    {%endfor%}


</table>


{%endblock%}